<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    {% if is_desktop %}
    <link rel="stylesheet" href="/static/css/pc.min.css">
    {% else %}
    <link rel="stylesheet" href="/static/css/mobile.min.css">
    {% endif %}

    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
</head>
<body>
<header class="header">
    <div class="header__wrapper">
        <a class="header__link" href="/">
            <img src="/static/img/logo.png" alt="Логотип">
        </a>

        <img id="loading" class="header__loading" src="/static/img/snake load.gif" alt="анимация загрузки">
    </div>
</header>
<main>
    {% if is_desktop %}
    <div class="photo">
        <div class="photo__wrapper">
            <div id="drop-image" class="photo__drop-box" ondrop="drop_handler(event)"
                 ondragover="dragover_handler(event)">
                <img src="/static/img/img_icon.png" alt="изображение">
                <p>Перетащите изображения для обработки сюда</p>
            </div>
        </div>
    </div>
    <div id="img" class="checked">
    </div>
    <script src="/static/js/dropbox.js"></script>
    {% else %}
    <div class="photo__wrapper">
        <video id="video"></video>
        <button onclick="ask_ai()" class="photo__button" type="button">
            <img src="/static/img/photo_btn.png" alt="снять">
        </button>
    </div>
    <p class="find_text">Название детали: <span id="type_name">не обнаружено</span></p>

    <div id="info">

    </div>
    <div id="find">

    </div>

    <script src="/static/js/photo.js"></script>
    {% endif %}
</main>
<footer>
    <p>powered by team <i>noname</i></p>
</footer>
<script src="/static/js/loading.js"></script>
</body>
</html>