@import "base";

.photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    display: flex;
    margin: $size5 0;
  }
  &__drop-box {
    border: $size1 dashed black;
    padding: $size4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 $size4;
    & img {
      width: 120px;
      height: 120px;
      margin-bottom: $size3;
    }
    & p, & a {
      font-size: 24px;
      width: 100%;
      text-align: center;
      margin-bottom: $size3;
    }
    & input {
      font-size: 21px;
    }
  }
}

.checked {
  margin: 0 $size4 $size5 $size4;
  display: grid;
  grid-gap: $size4;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  &__block {
    width: 100%;
    & img {
      aspect-ratio: 1 / 1;
      width: 100%;
      object-fit: cover;
    }
    & p {
      width: 100%;
      text-align: center;
      font-size: 21px;
      font-weight: bold;
    }
  }
}